@model BibliotecaVirtual.Controllers.LivroController.ObjetoRetorno

@{
    ViewBag.Title = "Delete";
}
<br />
<br />
<br />
<h2>Exclusão</h2>

<h3>Tem certeza que deseja deletar este livro?</h3>
<div>
    <h4>Informações do Livro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            Editora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editora)
        </dd>

        <dt>
            Edição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edicao)
        </dd>

        <dt>
            Ano da Publicação
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnoPublicacao)
        </dd>

        <dt>
            Valor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
