@model IEnumerable<BibliotecaVirtual.Controllers.LivroController.ObjetoRetorno>

@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<h2>Lista de Livros</h2>
<p>
    @Html.ActionLink("Novo Livro", "Create")
</p>
<table class="table table table-striped">
    <tr class="label-default">
        <th>
            Título
        </th>
        <th>
            Editora
        </th>
        <th>
            Edição
        </th>
        <th>
            Ano
        </th>
        <th>
            Valor
        </th>
        <th>
            Autor(es)
        </th>
        <th>
            Assunto(s)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Editora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoPublicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autores)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assuntos)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>